* {
	margin: 0;
	padding: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Heiti SC","Microsoft YaHei","微软雅黑","San francisco",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: #eee;
}


#root {
	width: 100%;

	.plant-base-wrapper {
		height: 100%;

		.display-area {
			height: 40em;
			background-color: #ccc;
			position: relative;

			button {
				height: 4em;
				width: 40%;
				border: 1px solid black;
				margin: 2em;
				position: absolute;
				bottom: 2em;
			}

			button.get-power {
				left: 4em;
			}

			button.dimond-auction {
				right: 4em;
			}
		}
	}

	.my-base-wrapper {
		text-align: center;
		padding: 20% 0;
		.my-base-header {
			width: 100%;
			top: 0;
			position: fixed;
			color: #fff;
			font-size: 30px;
			font-weight: normal;
			line-height: 3em;
			background-color: #777;
			height: 3em;

			button {
				position: absolute;
				right: 5%;
				top: 2em;
			}
		}

		.my-base {
			padding: 1em;
			margin: 2em auto;
			border: 1px solid #eee;
			border-radius: 0.5em;
			background-color: #fff;
			width: 80%;
		}

		.my-base-user {
			padding: 1em;

			.user-favicon {
				height: 10em;
				width: 10em;
				margin: 1em auto;
			}

			p {
				font-size: 2em;
			}
			span.user-title {
				background-color: #aaa;
				line-height: 2em;
				margin: 1em auto;
				display: block;
				width: 5em;
				height: 2em;
				border: 1px solid #eee;
			}

			button:last-child {
				border: none;
				background-color: #fff;
				border-left: 1px solid #000;
			}

			button {
				color: #666;
				width: 50%;
				height: 3em;
				line-height: 3em;
				font-size: 1em;
			}
		}

		.my-base-bidding {
			width: 80%;
			background-color: #fff;
			margin: auto;
			padding: 1em;
		}
	}

	.navigator {
		width: 100%;
		height: 10%;
		position: fixed;
		bottom: 0px;
		background-color: #fff;

		div {
			display: inline-block;
			width: 50%;
			text-align: center;
			line-height: 4em;

			a {
				text-decoration: none;
				color: #aaa;
			}
		}
	}

	.login {
		text-align: center;
		padding-top: 10em;

		button {
			border: 1px solid #8888ee;
			height: 3em;
			width: 20em;
		}

		div {
			height: 4em;
			line-height: 4em;

			input {
				height: 3em;
				width: 20em;
				margin: 0 1em;
			}

			button {
				width: 6em;
			}
		}
	}

	.task-page {
		text-align: center;

		.task-page-header {
			background-color: #c100ae;
			padding-top: 1em;
			height: 6em;
		}

		.task-container {
			background-color: #fff;
			margin-top: 1em;
			display: grid;

			h2 {
				text-align: left;
				line-height: 3em;
				font-weight: normal;
				margin-left: 1em;
				grid-column: 1 / 4;
				font-size: 1em;
			}

			div {
				border-top: 1px solid #eee;
				border-right: 1px solid #eee;
				padding: 1em;
			}

		}

		.task-page-regular {
			grid-template-columns: 33% 33% 33%;
			grid-template-rows: 3em 8em;
		}

		.task-page-exclusive {
			grid-template-columns: 33% 33% 33%;
			grid-template-rows: 3em 8em 8em;

			h2 {
				text-align: left;
				grid-column: 1 / 4;
			}
		}

		p.task-page-bottom {
			margin: 1em;
			color: #999;
		}
	}
}